
body{
margin:15px;
}
a{

   color: blue;
}
h1{
text-align:center;
color:pink;
}
h2 {
   text-align:center;
   color:PURPLE; 
}

p{
color:PURPLE;
text-align:justify;
font-size: 18px;
TEXT-ALIGN:CENTER;
   font-family: "Comic Sans MS", sans-serif;
}